.footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--action-color);
    height: 100px;
    padding-top: 2rem;
}

.footer > p {
    color: white;
}