.home-page-container{
    background-color: #f1fAff;
}

.hero-image-container {
    position: relative;
}
.hero-image-container > img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.hero-info-container {
    overflow:hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30vw;

    position: absolute;
    top: 0;
    margin-top: 70px;
}
.hero-info-container > .doctor-image-container {
}
.hero-info-container > .doctor-image-container > img {
    margin-top: 3rem;

    width: 30vw;
    max-width: 40rem;

}
.info-container{


}

.info-container > h1 {
    color: var(--action-color);
    font-size: 3rem;
    margin-top: 7rem;
}

.info-container > p{
    margin-top: 2rem;
    font-size: 1.2rem;
    color: var(--information-color);
}

.info-container > button{
    font-size: 1.2rem;
    background-color: var(--action-color);
    color: white;
    margin-top: 5rem;
    padding: 12px 18px;
    border-radius: 5px;
    border: none;
    transition-duration: 0.2s;
    transition: ease-in-out;
    animation: ease-in-out;
}

.info-container > button:hover{
    background-color: var(--information-color);
    cursor: pointer;
}
















.hero-title{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: var(--action-color);
}

.search-container {
    display: flex;
    justify-content:center;
    align-items: center;

    margin-top: 5rem;
}
.search-container > input {
    /*margin-right: 2rem;*/
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
    border: 2px solid black;
}

.search-container > input:hover {
    border: 2px solid var(--information-color);
}

.search-container > input:focus {
    outline: none;
    border: 2px solid var(--information-color);
}

.search-container > button {
    background-color: white;
    border: none;
}


@media (max-width: 900px) {

    .info-container > h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .info-container > .home-info {
        margin-top: 1rem;
        font-size: 14px;
        color: var(--information-color);
    }

    .hero-info-container {
        flex-direction: column-reverse;
        gap: 2vw;
        position: static;
        margin-top: 1px;
    }

    .hero-image-container{
        display: none;
    }

    .info-container{
        width: 100%;
        text-align: center;
    }

    .hero-info-container > .doctor-image-container > img {
        margin-top: 2.2rem;

        width: 30vw;
        max-width: 40rem;

    }

    .info-container > button{
        font-size: 0.7rem;
        background-color: var(--action-color);
        color: white;
        margin-top: 2rem;
        padding: 12px 18px;
        border-radius: 5px;
        border: none;
        transition-duration: 0.2s;
        transition: ease-in-out;
        animation: ease-in-out;
    }


    .hero-title{
        font-size: 2rem;
        margin-top: 5rem;
    }

    .search-container {
        margin-top: 10rem;
    }

    .search-container > input {
        width: 10rem;
        height: 2rem;
        border-radius: 5px;
        border: 2px solid black;
    }

}






.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 10rem;
}

.about-container > h1{
    color: var(--action-color);
}

.about-container > p{
    margin-top: 2rem;
    font-size: 1.2rem;

    margin-bottom: 10rem;
}


.janaushadhi-location-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}
.janaushadhi-location-container > h1{
    color: var(--action-color);
}

.janaushadhi-location-button{
    outline: none;
    border: 1px solid var(--action-color);
    border-radius: 5px;
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1rem;
}

.janaushadhi-location-button:hover{
    color: white;
    background-color: var(--information-color);
    cursor: pointer;
}

.background-container {
    overflow: hidden;

}
.stethoscopeImage1{
    position: absolute;
    opacity: 60%;
    overflow: hidden;
}
.stethoscopeImage2{
    position: absolute;
    opacity: 60%;

    margin-left: 55%;
    overflow: hidden;
}