### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

.DS_Store
.DS_Store/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


src/main/resources/dbdatapush/data
classpath.txt

HospitalCsvRunner.java
HospitalCsvService.java

dbdatapush

application-dev.yaml

.mvn
.aws-sam
samconfig.toml
